@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

:root {
  font-family: "Akshar",Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #000137;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(0,1,55);
  background: linear-gradient(0deg, rgba(0,1,55,1) 54%, rgba(0,2,111,1) 89%);
  background-repeat: no-repeat;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
html{
  min-width: 320px;
  min-height: 100vh;
}



