@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  --primary-color: #000137;
  --secondary-color: #6ffac9;
  --font-inter: "Inter";
  --font-sacramento: "Sacramento";
  --font-size-heading: 4.6875em;
  --font-size-description: 45px;
  --font-size-button: 24px;
}

.parent {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sub-div-one {
  background: rgb(0, 2, 111);
  background: linear-gradient(0deg,
      rgba(0, 2, 111, 1) 0%,
      rgba(0, 1, 55, 1) 33%);
  min-width: 55%;
}

.sub-div-two {
  min-width: 45%;
}

.sub-div-two video {
  position: absolute;
  width: 45%;
  height: 100%;
  object-fit: cover;
}

.text-div-parent {
  display: flex;
  flex-direction: column;
  padding: 49px;
  margin-top: 8vw;
  gap: 10px;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0%;
}

.web-name {
  font-size: var(--font-size-heading);
  margin: 0;
}

.logo-icon {
  height: 150px;
  margin: 0;
}

.description {
  font-size: var(--font-size-description);
  font-weight: light;
  font-family: var(--font-inter);
  margin: 0 0 4vw 0;
}

.launch-btn {
  height: auto;
  width: fit-content;
  font-size: var(--font-size-button);
  background-color: rgba(0, 1, 55, 0);
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  padding: 13px 26px 13px 26px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: var(--primary-color);
    border: 3px solid white;
  }
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 3vw;
  font-family: var(--font-inter);
  font-size: 20px;
  justify-content: end;
  padding: 0.1vw 4vw 0vw 0vw;
}

.nav-top p {
  cursor: pointer;
  padding: 0.5vw;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
}

.nav-top p:hover {
  border: 2px solid white;
}

.parent-div-text {
  display: flex;
  min-height: 30vh;
  align-items: end;
}

.text-over-subparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.Down-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
}

@keyframes upAndDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.Down-btn img {
  cursor: pointer;
}

.Down-btn img:hover {
  height: 3vw;
}

.animated-up-down {
  animation: upAndDown 2s ease-in-out infinite;
}

.text-over-vid {
  position: relative;
  font-family: var(--font-sacramento);
  font-size: 4vw;
}

.text-div-parent {
  text-align: left;
}

.parent {
  transition: opacity 2.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.ai-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #000137;
  color: #000137;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.ai-bot img {
  height: 80px;
}

.bx.bxs-donate-heart:hover {
  transform: scale(1.2);
}